.app-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background: $app-blue;
    width: 100%;
    height: $footer-height-px;
    text-align: center;
    color: $app-white;

    a {
        display: inline-block;
        width: calc(100% / 3);
        height: $footer-height-px;
        text-decoration: none;
        color: $app-white;

        &.active {
            color: $app-indigo;
        }

        i {
            line-height: $footer-height-px;
            font-size: 36px;
        }

    }

    .camera-button {
        cursor: pointer;
    }

}
