.app-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background: $app-blue;
    width: 100%;
    height: $footer-height-px;
    text-align: center;
    color: $app-white;

    a {
        color: $app-white;

        &.active {
            color: $app-indigo;
        }

    }

    .camera-button {
        cursor: pointer;
    }

    .fa {
        margin: {
            left: 40px;
            right: 40px;
        }
        line-height: $footer-height-px;
        font-size: 36px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background: rgba($app-black, .9);
        width: 100%;
        height: 100%;
        text-align: center;
        color: $app-white;

        .error-icon {
            margin-top: 100px;
            color: $app-white;
            font-size: 64px;
        }

        .error-message {
            margin-top: 20px;
        }

    }

}
