#add {

    .grey-icon {
        color: $app-grey;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background: rgba($app-black, .9);
        width: 100%;
        height: 100%;
        text-align: center;
        color: $app-white;

        .error-icon {
            margin-top: 100px;
            color: $app-white;
            font-size: 64px;
        }

        .error-message {
            margin-top: 20px;
        }

    }

    .well {
        margin: 15px;
        text-align: center;

        &.invalid {
            color: $app-red;
        }

        &.valid {
            color: $app-green;
        }

    }

}
