#add {

    .send-button {
        position: relative;
        padding: 0;
        height: 50px;
        line-height: 50px;

        img {
            position: absolute;
            top: 12.5px;
            left: calc(50% - 12.5px);
            height: 25px;
        }

    }

    .well {
        position: relative;
        margin: 15px;
        text-align: center;

        &.invalid {
            color: $app-red;
        }

        &.valid {
            color: $app-green;
        }

        .status {
            position: absolute;
            top: calc(50% - 16px);
            left: 20px;
            font-size: 32px;
        }

    }

}
