#post-login {

    position: absolute;
    top: 0;
    left: 0;
    background: $app-white;
    width: 100%;
    height: 100%;

    .swipe-view-enter {
        transform: translate3d(-100%, 0, 0);
        transition: transform .4s;

        &.swipe-view-enter-active {
            transform: translate3d(0, 0, 0);
        }
    }

    .swipe-view-leave {
        transform: translate3d(0, 0, 0);
        transition: transform .4s;

        &.swipe-view-leave-active {
            transform: translate3d(100%, 0, 0);
        }
    }

    .app-content {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: $header-height-px;
        margin-bottom: $footer-height-px;
        width: 100%;
        height: calc(100% - #{$header-plus-footer-height-px});

        > div {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
    }

}
